<div class="add-card-body" (click)="onAdd()">
  <div class="add-icon-container">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" fill="currentColor">
      <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
    </svg>
    <span class="add-text">Add New City</span>
  </div>

  <div class="decoration-elements">
    <div class="decoration-bar"></div>
    <div class="decoration-dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
