.main-body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: wheat;
  padding: 20px;
}

.add-weather-card{
  margin: 20px;
}
